.home-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 5%; /* Ensures equal left and right margins */
}

.home-first-section,
.home-second-section,
.home-third-section {
  max-width: 100%;
  margin: 0 auto;
  padding: 50px 5%;
  position: relative; /* Needed for line placement */
}

.home-first-section h1 {
  font-size: 3rem;
  color: white;
  margin: 10px 0;
  text-align: left;
}

.home-second-section,
.home-third-section {
  color: white;
}

.home-second-section::before,
.home-third-section::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 5%; /* Aligns with text */
  width: 90%; /* Ensures equal margins on both sides */
  height: 1px;
  background-color: white;
}

.home-second-section h2,
.home-third-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: left;
}

.home-second-section p {
  font-size: 1.2rem;
  color: #bbb;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.home-project-one,
.home-project-two {
  padding: 20px;
  margin: 15px auto;
  width: 80%;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.home-project-one h3,
.home-project-two h3 {
  font-size: 1.5rem;
  color: white;
  margin: 0;
}

.home-project-one p,
.home-project-two p {
  font-size: 1rem;
  color: #bbb;
}

.home-project-one:hover,
.home-project-two:hover {
  transform: translateY(-10px);
}

.home-project-one a,
.home-project-two a {
  text-decoration: none;
  color: white;
}

.home-project-one a:hover,
.home-project-two a:hover {
  color: yellow;
}
