nav {
  display: flex;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  backdrop-filter: blur(10px);
  z-index: 1000;
  margin-left: auto;
  margin-right: auto;
}

.nav-left {
  flex-shrink: 0;
}

.nav-center {
  flex-grow: 1;
  display: flex;
  justify-content: center; /* Keeps it centered */
  align-items: center;
  gap: 8px;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  flex-wrap: nowrap; /* Prevent wrapping */
  flex-shrink: 0; /* Prevents it from pushing other elements */
}

.nav-right a {
  text-decoration: none;
  margin: 0 8px;
  font-size: 1.2rem;
  white-space: nowrap;
  transition: color 0.3s ease-in-out;
}

@media (max-width: 940px) {
  .nav-right {
    display: none; /* Hide links on smaller screens */
  }
  .menu-text {
    display: block;
  }
}
