:root {
  font-family: "Helvetica Neue", sans-serif; /* Updated to Helvetica Neue */
  font-weight: 700; /* Helvetica Neue 75 Bold */
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000; /* Very dark black background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 16px; /* Margins on all sides */
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Helvetica Neue", sans-serif; /* Updated to Helvetica Neue */
  background-color: #000000; /* Very dark black background */
  color: white; /* White text on dark background */
}

a {
  font-weight: 500;
  color: white;
  text-decoration: inherit;
}

a:hover {
  color: yellow;
}
